*.http text eol=crlf

/.editorconfig     export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/.wp-env.json      export-ignore
/documentation/    export-ignore
/phpcs.xml.dist    export-ignore
/phpstan.neon.dist export-ignore
/tests/            export-ignore
/vendor-bin/       export-ignore

vendor-bin/**/composer.lock binary
